body{
padding:0;
margin:0; }

.footer-col{
display:block; 
width:100%;
height:auto;
background-color:#000000;
}

.footer-logo{
display:block; }

.col{
display: inline-block;
width: 20%; 
width: 20%;
margin: 0 10px;
vertical-align: top;
alignment-adjust: ;
text-align:center;
color:#bbb;
}

.col ul li a{
text-decoration:none; 
color:#F8F8FF;
}

.col ul li {
list-style:none;
padding:10px;
}

.copyright{
clear:both;
display: block;
width: 100%;
height: auto; 
background-color: #353535;
 }
 
.hvr-grow {
   
    padding:5px;
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}


